
@{
    ViewData["Title"] = "Usuarios";
}


<h1>Listado de Usuarios </h1>

<br />
<div class="row">
   <div class="col">
        <table class="table">
            <thead class="table-dark">
                <tr class="">
                    <th class="col-md-5">Nombre</th>
                    <th class="col-md-4">Apellidos</th>
                    <th class="col-md-3">Email</th>
                </tr>
            </thead>

            <tbody id="cuerpoUsers"></tbody>
    </table>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8">

    var listaUsers= [];

    $(document).ready(function () {
       
       getAllUsers();
    });

    function getAllUsers()
    {
        modalProcesando(true);
        $.ajax({
            url: '@Url.Action("GetAllUsers", "User")',
            method: 'GET',
            dataType: "json",
            success: function (data) {
                modalProcesando(false);

                console.log(data);

                if(data.isSuccess)
                {
                    listaUsers = data.result;
                    cargarGridUsers(listaUsers);
                    console.log(listaUsers);
                }else{
                    Swal.fire(
                                'Opps!',
                                data.message,
                                'error');
                }
               
            },
            error: function (xhr, textStatus, errorThrown) {
                    modalProcesando(false);
                    console.error(xhr, textStatus, errorThrown);
                }
         });
    }

    function cargarGridUsers(data){
        $("#cuerpoUsers").html(""); // seleccionar donde se va insertar

        for(var i=0; i < data.length; i++){
            var tr=`
             <tr>
                <td>`+ data[i].name+ `</td>
                <td>`+ data[i].lastName +`</td>
                <td>`+ data[i].userName +`</td>
            </tr>
            `;
            $("#cuerpoUsers").append(tr);
        }
    }

  
    

</script>
