@{
    ViewData["Title"] = "Actualizar Contraseña";
    Layout = "_LayoutLogin";
}

<div class="centrado">
    <div class="row login-card-bg mx-auto" style="width: 400px;">
        <div class="col-12 animate__animated animate__fadeIn mx-auto">
            <div class="text-center mb-3">
                <h3 class="fw-bold">Actualizar Contraseña</h3>
            </div>
            <div>
                <section>
                    <form asp-controller="Auth" asp-action="ResetPassword" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="Email" value="@Context.Request.Query["email"]" />
                        <input type="hidden" name="Token" value="@Context.Request.Query["token"]" />
                        <div class="mb-3">
                            <label for="NewPassword" class="form-label fw-bold">Nueva contraseña</label>
                            <input type="password" name="NewPassword" id="NewPassword" class="form-control" required maxlength="100" placeholder="Nueva contraseña" />
                        </div>
                        <div class="mb-3">
                            <label for="ConfirmPassword" class="form-label fw-bold">Confirmar contraseña</label>
                            <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" required maxlength="100" placeholder="Confirmar contraseña" />
                        </div>
                        <div class="mb-3" style="text-align:right">
                            <input type="submit" value="Actualizar contraseña" class="btn btn-success" />
                        </div>
                        <div class="mb-2 text-center">
                            <a asp-action="Login">Volver al inicio de sesión</a>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
